/***** GENERAL INDSTILLINGER START *****/
body {
    margin: 0;
}

img,
iframe {
    width: 100%;
}



h1,
h2 {
    font-family: halyard-display, sans-serif;

    font-weight: 700;

    font-style: normal;

    font-size: 3rem;
}

h2 {
    font-size: 1.3em;
}

p,
nav,
a,
h3,
h4,
footer,
.text,
table {
    font-family: 'Lato', sans-serif;
    color: black;
    line-height: 1.6;
}

#logo {
    width: 25%;
}

/***** GENERAL INDSTILLINGER SLUT *****/

/***** HEADER START *****/
header nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0.5rem 0 0;
}

header nav a {
    border: 1px solid;
    border-color: #ffffff;
    background-color: #ffffff;
    padding: 20px;
    margin: 4px 4px 4px 4px;
    text-decoration: none;
}

header nav a:hover {
    color: steelblue;
}

header a:link {
    font-family: 'Lato', sans-serif;
    color: #000000;
    font-size: 1rem;
    text-align: center;
}

header a:visited {
    font-family: 'Lato', sans-serif;
    color: darkslategray;
    font-size: 1rem;
}

/***** HEADER SLUT *****/

/***** FOOTER START *****/
footer {
    margin-top: 30px;
    width: 100vw;
    height: 100px;
    background-color: #000000;
    color: white;
}

footer .col_bottom {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

footer .col {
    flex-grow: 1;
    flex-basis: 150px;
}


footer p,
footer a,
footer h2 {
    margin: 0;
    color: white;
    text-decoration: none;
}








/***** FOOTER SLUT *****/




/***** Artists sektion starter *****/
/***** Artists sektion slutter *****/

/***** Enkelte artist sider starter *****/
/***** Enkelte artist sider slutter *****/

/***** Shows sektion starter *****/
#shows .sectionwrapper {
    margin-top: 60px;
}

/***** Shows sektion slutter *****/

/****** PR and funding sektion starter *****/
#pr_funding .sectionwrapper {
    padding: 0 25px;
}

#pr_funding h1 {
    margin-bottom: 12px;
}

#pr_funding h2 {
    margin-bottom: 0;
}

#pr_funding .col_bottom h2 {
    margin-bottom: 0;
}

#pr_funding p {
    margin-top: 0;
}

/****** PR and funding sektion slutter *****/

/***** About sektion starter *****/
#about .sectionwrapper {
    padding: 0 25px;
}

#about h1 {
    margin-bottom: 12px;
}

#about h2 {
    margin-bottom: 0;
}

#about .col_bottom h2 {
    margin-top: 0;
    margin-bottom: 0;
}

#about p {
    margin-top: 0;
}

#about a {
    text-decoration: none;
}

#about a:hover {
    color: steelblue;
}

/***** About sektion slutter *****/

/***** SEKTIONER SLUT *****/


@media only screen and (min-width: 770px) {

    /***** GENERAL INDSTILLINGER START *****/
    section {
        margin: 0 200px;
    }


    /***** GENERAL INDSTILLINGER SLUT *****/

    /***** HEADER START *****/

    header {
        position: fixed;
        background-color: #ffffff;
        top: 0;
        padding: 20px 0;
        width: 100%;

    }

    header nav {
        padding: 0 200px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    header nav a {
        border: 1px solid;
        border-color: #ffffff;
        background-color: #ffffff;
        padding: 16px;
        margin: 4px;
        text-decoration: none;
    }

    header nav a:hover {
        color: steelblue;
    }

    header a:link {
        font-family: 'Lato', sans-serif;
        color: #000000;
        font-size: 1rem;
        text-align: center;
    }

    header a:visited {
        font-family: 'Lato', sans-serif;
        color: darkslategray;
        font-size: 1rem;
    }

    #logo {
        width: 20%;
        padding: 0 40px;
    }




    /***** HEADER SLUT *****/

    /***** FOOTER START *****/










    /***** FOOTER SLUT *****/

    /***** SEKTIONER START *****/

    /***** Artists sektion starter *****/

    #artists .sectionwrapper {
        display: flex;
        flex-wrap: wrap;
        margin-top: 120px;

    }

    #artists .col {
        flex-grow: 1;
        flex-basis: 300px;
    }

    /*Hover funktion start*/
    #artists .image {
        opacity: 1;
        display: block;
        transition: .5s ease;
        backface-visibility: hidden;
    }

    #artists .artist1 {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 45%;
        left: 25%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
    }

    #artists .col:hover .image {
        opacity: 0.3;
    }

    #artists .col:hover .artist1 {
        opacity: 1;
    }

    .text {
        color: black;
        font-size: 30px;
        padding: 16px 32px;
    }

    /*Hover funktion slut*/



    /***** Artists sektion slutter *****/

    /***** Enkelte artist sider starter *****/
    #blaest .image,
    #elba .image,
    #ernest .image,
    #excelsior .image,
    #girlcrush .image,
    #holm .image,
    #rexen .image,
    #marcfacchini .image,
    #rebeccalou .image {
        margin-top: 120px;
        margin-right: 50px;
    }

    #blaest .video,
    #elba .video,
    #ernest .video,
    #excelsior .video,
    #girlcrush .video,
    #holm .video,
    #rexen .video,
    #marcfacchini .video,
    #rebeccalou .video {
        margin-right: 50px;
    }

    #blaest .sectionwrapper,
    #elba .sectionwrapper,
    #ernest .sectionwrapper,
    #excelsior .sectionwrapper,
    #girlcrush .sectionwrapper,
    #holm .sectionwrapper,
    #rexen .sectionwrapper,
    #marcfacchini .sectionwrapper,
    #rebeccalou .sectionwrapper {
        display: flex;
        flex-wrap: wrap;
    }

    #blaest .col,
    #elba .col,
    #ernest .col,
    #excelsior .col,
    #girlcrush .col,
    #holm .col,
    #rexen .col,
    #marcfacchini .col,
    #rebeccalou .col {
        flex-grow: 1;
        flex-basis: 300px;

    }

    #blaest .col h1,
    #elba .col h1,
    #ernest .col h1,
    #excelsior .col h1,
    #girlcrush .col h1,
    #holm .col h1,
    #rexen .col h1,
    #marcfacchini .col h1,
    #rebeccalou .col h1 {
        margin-top: 120px;

    }

    /***** Enkelte artist sider slutter *****/

    /***** Shows sektion starter *****/



    #shows p,
    #shows table {
        font-size: 0.8rem;
        width: 90%;
    }

    #shows td,
    #shows th {
        text-align: left;

    }

    #shows .sectionwrapper {
        display: flex;
        flex-wrap: wrap;
        margin-top: 50px;

    }

    #shows .col_left {
        flex-grow: 1;
        flex-basis: 100px;
    }


    #shows .col_right {
        display: flex;
        flex-wrap: wrap;
        flex-grow: 3;
        flex-basis: 300px;

    }

    #shows .col_bottom {
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;
        flex-basis: 300px;


    }

    #shows .col {
        flex-grow: 1;
        flex-basis: 70px;
        margin: 10px;
    }


    /***** Shows sektion slutter *****/

    /***** About sektion starter *****/
    #about .col_top,
    #about .col_bottom {
        display: flex;
        flex-wrap: wrap;
    }

    #about .col {
        flex-grow: 1;
        flex-basis: 300px;
    }

    #about .col_top {
        margin-top: 60px;
    }

    #about h1 {
        margin-top: 160px;
        margin-bottom: 12px;
    }

    #about .col_bottom {
        margin-top: 60px;
    }

    #about .col_bottom .col:last-child {
        padding-left: 20px;
    }

    /***** About sektion slutter *****/

    /***** PR & FUNDING starter ****/
    #pr_funding .col_top,
    #pr_funding .col_bottom {
        display: flex;
        flex-wrap: wrap;
    }

    #pr_funding .col {
        flex-grow: 1;
        flex-basis: 300px;
        margin-bottom: -5px;
    }

    #pr_funding h1 {
        margin-top: 160px;
        margin-bottom: 12px;
    }

    #pr_funding .col_bottom {
        margin-top: 60px;
    }

    /***** PR & FUNDING slutter ****/

    /***** SEKTIONER SLUT *****/

}
